*{
	box-sizing:border-box;
	margin:0;
	padding: 0;}
body{
	background:#FFFFE0;
	margin:0;
}
.container{
	width:98%;
	margin:0 auto;
}
/*grid*/
.container .cols{
	float:left;
	/*margin: 000 1em;*/
	padding: 01em;
}
 /*For smartPhone*/
	.container .cols.col-1,
	.container .cols.col-2,
	.container .cols.col-3,
	.container .cols.col-4,
	.container .cols.col-5,
	.container .cols.col-6,
	.container .cols.col-7,
	.container .cols.col-8,
	.container .cols.col-9,
	.container .cols.col-10,
	.container .cols.col-11,
	.container .cols.col-12{ width: 100%;}
@media screen and (min-width: 321px){            /*for PC*/
	.container .cols.col-12{ width: 100%;}
	.container .cols.col-1{	width: 8.333333333%;}
	.container .cols.col-2{	width: 16.666666666%;}
	.container .cols.col-3{	width: 25%;}
	.container .cols.col-4{	width: 33.333333333%;}
	.container .cols.col-5{	width: 41.666666666%;}
	.container .cols.col-6{	width: 50%;}
	.container .cols.col-7{	width: 58.333333333%;}
	.container .cols.col-8{	width: 66.666666666%;}
	.container .cols.col-9{	width: 75%;}
	.container .cols.col-10{ width: 80.333333333%;}
	.container .cols.col-11{ width: 91.666666666%;}
	.container .cols.col-12{ width: 100%;}
}
.container:before,
.container:after,
.row:before,
.row:after,
.clean:before,
.clean:after{
	content:"";
	display:table;
}
.row:after,
.clear:after{
	clear: both;;
}

h1{color:red;}